@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebStieBanSach.Models.ChuDe>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />

@{
  
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới chủ đề", "ThemMoi")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().TenChuDe)
        </th>
        <th> Sửa</th>
        <th> Xóa</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuDe)
        </td>
        <td>
           @Html.ActionLink("Sửa", "ChinhSua", new { @MaChuDe = item.MaChuDe }) 
        </td>
        <td>
            
         
            @Html.ActionLink("Xóa", "Xoa", new { @MaChuDe = item.MaChuDe })
        </td>
    </tr>
}

</table>


<div style="margin-left:20px; ">
    @*Tao link lien ket cac trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>

</div>
<style>
    .MenuTrang li {
        display: inline;
        margin:0 5px 0 5px;
    }

        .MenuTrang li:hover {
            color: red;
        }
</style>