@using WebStieBanSach.Models
@model List<Sach>

@{
    ViewBag.Title = "SachTheoNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

@{ int i = 0;}
@foreach (var item in Model)
{
    i++;
    <div id="SanPham">
        <a href="@Url.Action("XemChiTiet","Sach",new {@MaSach = item.MaSach })"><div id="AnhBia"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="100" height="150" /> </div></a>
        <div id="ThongTin">
            @*neu ten sach dai hon 30 ki tu*@
            @if (item.TenSach.Length < 35)
            {
                <div id="TenSach" title="@item.TenSach">@item.TenSach</div>
            }
            else
            {
                <div id="TenSach" title="@item.TenSach">@item.TenSach.Substring(0, 35) ...</div>
            }
            <div id="DonGia" style="color:orange"><font color="Green">Giá: </font>@string.Format("{0:0,000 VND}", @item.GiaBan)</div>
        </div>


    </div>
    if (i % 3 == 0)
    {
        <div style="clear:both"></div>
    }
}

