@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebStieBanSach.Models.DonHang>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DaThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TinhTrangDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().KhachHang)
        </th>
        <th>
            Sửa
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaThanhToan)
            </td>
            @if (item.TinhTrangDonHang == 0)
            {
                <td>Chưa xong</td>
            }
            else
            {
                <td>Hoàn thành</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.ActionLink("Sửa", "ChinhSua", new { @MaDonHang = item.MaDonHang })
            </td>
        </tr>
    }

</table>

<div style="margin-left:20px; ">
    @*Tao link lien ket cac trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>

</div>
<style>
    .MenuTrang li {
        display: inline;
        margin: 0 5px 0 5px;
    }

        .MenuTrang li:hover {
            color: red;
        }
</style>